md-card-content{

  h1{
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }

  img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .md-button.md-fab{
    &.md-mini{
      ng-md-icon {
        top: 6px;
        left: 6px;
      }
    }
    ng-md-icon {
      top: 8px;
      left: 8px;
    }
  }

}