md-card-content{

  h1{
    margin: 30px 0px 30px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }

  .avatar-container{
    padding-left: 100px;
    img{
      border-radius: 50%;
      height: 150px;
      width: 150px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      margin: 0px 0px 0px -150px;
    }
  }

  .md-button.next{
    height: 100px;
    width: 70px;
    ng-md-icon{
      position: absolute;
      top: -40px;
      left: -50px;
    }
  }

  .btn-toolbar-choice{
    margin-top: 40px;
    .md-button.md-fab{
      &.md-mini{
        ng-md-icon {
          top: 0px;
          left: 0px;
        }
      }
      ng-md-icon {
        top: 8px;
        left: 8px;
      }
    }
  }

  .btn-length{
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: pink;
    font-weight: bold;
  }

}