<md-card flex offset-gt-md="25" flex-gt-md="50">

    <md-card-content layout="column"layout-align="center center" ng-if="!friend" flex>
        <p>{{'friends.face.no.result' | translate}}</p>
    </md-card-content>

    <md-card-content layout="column" layout-align="center center" ng-if="friend">
        <h1>{{ friend.name }}</h1>

        <div layout="row" layout-align="center center">
            <img ng-src="{{friend.picture}}" alt="{{ friend.name }}" flex/>
            <md-button aria-label="{{'friends.face.next' | translate}}" class="next md-icon-button" ng-click="refreshFace(filteringFriends)">
                <ng-md-icon icon="chevron_right" style="fill: pink" size="180"></ng-md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="btn-toolbar-choice">
            <md-button class="md-fab md-primary" ng-disabled="friend.love" aria-label="{{'friends.list.menu.action.toggle.visibility' | translate}}" ng-click="toggleFriendVisibility(friend)">
                <ng-md-icon icon="visibility_off" style="fill: pink" size="40"></ng-md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="{{'friends.list.menu.action.toggle.love' | translate}}" ng-click="toogleLove(friend, $event)">
                <ng-md-icon icon="favorite" style="fill: pink" size="40"></ng-md-icon>
            </md-button>
        </div>

        <md-button class="btn-length md-fab md-raised md-mini" aria-label="length">
            {{filteringFriends.length}}
        </md-button>

    </md-card-content>

</md-card>