friend-preview {
  .avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 50%;
    box-sizing: content-box;
  }
  ng-md-icon.friend-preview-social-icon{
    position: absolute;
  }
  ng-transclude *{
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.no-wrap{
      white-space: normal;
      margin-bottom: 10px;
    }
  }
}