<div layout="row">
    <md-card flex offset-gt-md="25" flex-gt-md="50">

        <md-content>

            <md-list>
                <md-subheader class="md-no-sticky">
                    <md-button class="md-icon-button" aria-label="{{'dialog.show.back.btn' | translate}}" ui-sref="dialog">
                        <ng-md-icon icon="arrow_back" ng-style="{fill: 'pink'}" size="30"></ng-md-icon>
                    </md-button>
                    <p>{{ dialog.friend.name }}</p>
                </md-subheader>
                <md-list-item class="md-3-line" ng-repeat="message in dialog.messages | orderBy:'when'" layout="row">
                    <friend-preview friend="dialog.friend" flex>
                        <p class="date">{{message.when | date}}</p>
                        <p class="no-wrap">{{message.what}}</p>
                    </friend-preview>
                </md-list-item>

            </md-list>

            <md-divider></md-divider>

            <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
                <md-input-container flex>
                    <label>{{'dialog.show.send.message.label' | translate}}</label>
                    <textarea ng-model="newMessage.what" columns="1" md-maxlength="150" required></textarea>
                </md-input-container>

                <md-button class="md-fab md-primary submit-btn" aria-label="{{'dialog.show.send.message.submit.label' | translate}}" ng-disabled="!sendMessageForm.$valid">
                    <ng-md-icon icon="send" ng-style="{fill: 'pink'}" size="30"></ng-md-icon>
                </md-button>
            </form>

        </md-content>
    </md-card>
</div>