md-card-content{
  padding: 0px 0px 0px 10px;
  input::-ms-clear {
    display: none;
  }
  md-virtual-repeat-container {
    .repeated-item {
      box-sizing: border-box;
      height: 55px;
      friend-preview{
        button{
          margin: 0px 0px 0px 0px;
          padding: 10px 0px 0px 0px;
          width: 10px;
        }
      }
    }
  }
}