friends-filter{
  right: 20px;
  position: fixed;
  bottom: 20px;
  md-fab-speed-dial{
    md-fab-trigger{
      button {
        p {
          font-size: 12px;
          color: pink;
          position: absolute;
          top: -28px;
          right: 9px;
        }
      }
    }
    button{

      &.md-mini{
        ng-md-icon{
          position: absolute;
          top: 6px;
          left: 10px;
        }
      }

    }
  }
}