<md-fab-speed-dial md-direction="up" md-open="isOpen" class="md-fling">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary filter-btn">
            <p><strong>{{result}}</strong></p>
            <ng-md-icon icon="search" ng-style="{fill: 'pink'}" size="30"></ng-md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button class="md-fab md-raised md-mini" ng-repeat="(key, social) in socials" ng-value="key" aria-label="{{social.label | translate}}" ng-click="socialToggle(key)">
            <ng-md-icon icon="{{social.icon.name}}" ng-style="{fill: socialIsSeleced(key) ? social.icon.color : 'grey'}" size="20"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-raised md-mini" aria-label="{{'friends.filter.not.love.label' | translate}}" ng-click="loveSelected(false)">
            <ng-md-icon icon="favorite_outline" ng-style="{fill: loveIsSelected(false) ? 'pink': 'grey'}" size="20"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-raised md-mini" aria-label="{{'friends.filter.love.label' | translate}}" ng-click="loveSelected(true)">
            <ng-md-icon icon="favorite" ng-style="{fill: loveIsSelected(true) ? 'pink': 'grey'}" size="20"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-raised md-mini" aria-label="{{'friends.filter.hide.label' | translate}}" ng-click="visibilityToggle()">
            <ng-md-icon icon="{{filter.visibility? 'visibility': 'visibility_off'}}" ng-style="{fill: 'pink'}" size="20"></ng-md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>