.filter-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  p {
    font-size: 12px;
    color: pink;
    position: absolute;
    top: -28px;
    right: 9px;
  }
}

.friend-list{
  md-list-item{
    padding-left: 0px;
  }
}

md-menu{
  height: 30px;
  width: 35px;
}