<md-card>
    <md-card-content>

        <md-list>

            <md-subheader class="md-no-sticky">
                <p>
                    <strong>{{'friends.list.title.count' | translate}} :</strong>
                    {{friends.length}}
                </p>
            </md-subheader>

            <md-list-item ng-repeat="friend in friends | orderBy:'name' track by $index" ng-click="toogleLove(friend)">
                <img ng-src="{{friend.picture}}" class="md-avatar" alt="{{friend.name}}"/>
                <p>
                    <ng-md-icon flex="10" icon="{{getSocialIcon(friend.type).name}}" ng-style="{fill: getSocialIcon(friend.type).color}" size="20"></ng-md-icon>
                    {{ friend.name }}
                </p>
                <ng-md-icon flex="10" icon="{{getLoveIcon(friend)}}" style="fill: pink" size="40"></ng-md-icon>
            </md-list-item>

        </md-list>

    </md-card-content>
</md-card>