<div layout="column" layout-align="center center">
    <ng-md-icon icon="favorite" style="fill: pink" size="200"></ng-md-icon>
    <h1>{{'common.title' | translate}}</h1>
</div>

<form name="loginForm" ng-submit="submit()" layout="column" novalidate>

    <md-input-container>
        <label>{{'auth.email.placeholder' | translate}}</label>
        <input ng-model="me.email" name="email" type="email" required/>
        <ng-md-icon icon="email" size="50"></ng-md-icon>
        <div ng-messages="loginForm.$dirty && loginForm.email.$error">
            <div ng-message="required">{{'auth.email.error.required' | translate}}</div>
            <div ng-message="email">{{'auth.email.error.email' | translate}}</div>
            <div ng-message="blacklist">{{'auth.email.error.blacklist' | translate}}</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>{{'auth.password.placeholder' | translate}}</label>
        <input ng-model="me.password" name="password" type="password" required ng-minlength="5" ng-maxlength="15"/>
        <ng-md-icon icon="vpn_key" size="50"></ng-md-icon>
        <div ng-messages="loginForm.$dirty && loginForm.password.$error">
            <div ng-message="required">{{'auth.password.error.required' | translate}}</div>
            <div ng-message="maxlength">{{'auth.password.error.maxlength' | translate}}</div>
            <div ng-message="minlength">{{'auth.password.error.minlength' | translate}}</div>
        </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">
        {{'auth.connect.btn.label' | translate}}
    </md-button>

    <a class="forgot-password" ui-sref="forgot-password">
        {{'auth.forgot.password.btn.label' | translate}}
    </a>

</form>

<div layout="column">
    <md-divider ></md-divider>

    <md-button type="button" class="md-raised" ui-sref="account">
        {{'auth.create.account.btn.label' | translate}}
    </md-button>

    <md-button type="button" class="md-raised" ng-click="loadDemo()">
        {{'auth.demo.btn.label' | translate}}
    </md-button>
</div>
