friends-filter{
  right: 20px;
  position: fixed;
  bottom: 20px;
  md-fab-speed-dial{
    button{

      &.md-mini{
        ng-md-icon{
          position: absolute;
          top: 6px;
          left: 10px;
        }
      }

    }
  }
  .btn-length{
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: pink;
    font-weight: bold;
  }
}