md-sidenav {
  md-list-item{
    a.md-button{
      width: 100%;
      padding: 0px 30px 0px 30px;
      margin: 0px 0px 0px 0px;
      text-align: left;
      font-weight: bold;
      .nb-secret-box-news{
        position: absolute;
        top: 4px;
        right: 65px;
        border: 3px solid pink;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        line-height: 1.5;
        text-align: center;
      }
      ng-md-icon{
        float: right;
        fill: pink;
        &.icon-love{
          position: absolute;
          top: 2px;
          right: 33px;
          fill: white;
        }
      }
    }
  }
  .socialCarousel{
    position: fixed;
    bottom: 20px;
    right: 20px
  }
}
md-backdrop.md-sidenav-backdrop {
  // Fix menu bug
  display: none;
}