<md-grid-list
    md-cols-sm="2"
    md-cols-md="1"
    md-cols-lg="3"
    md-cols-gt-lg="4"
    md-row-height="3:4"
>
    <md-grid-tile ng-repeat="(type, connection) in connections">
        <md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="center center">
            <ng-md-icon icon="{{connection.icon.name}}" style="fill: {{connection.icon.color}}" size="200"></ng-md-icon>
            <md-button
                    class="md-raised"
                    ng-class="{'md-primary': !isConnected(type)}"
                    aria-label="{{connection.label | translate}}"
                    ng-disabled="isNotImplemented(type)"
                    ng-click="connectToogle($event, type)">
                <h3 ng-if="!isNotImplemented(type) && isConnected(type)">{{'connect.is.connected' | translate}}</h3>
                <h3 ng-if="!isNotImplemented(type) && !isConnected(type)">{{'connect.is.not.connected' | translate}}</h3>
                <h3 ng-if="isNotImplemented(type)">{{'connect.is.not.implemented' | translate}}</h3>
            </md-button>
        </md-whiteframe>
    </md-grid-tile>
</md-grid-list>