<div layout="row">

    <md-card flex offset-gt-md="25" flex-gt-md="50">
        <md-card-content>

            <md-list>

                <md-list-item ng-repeat="(type, connection) in connections">

                    <md-switch
                            aria-label="{{connection.label | translate}}"
                            class="md-primary"
                            ng-model="connectionModel[type]"
                            ng-change="toggleConnection(type)"
                            ng-disabled="isNotImplemented(type)">

                        <div layout="row" layout-align="center center">
                            <social-icon name="{{connection.icon.name}}" color="{{connection.icon.color}}" size="30"></social-icon>
                            <div layout="column">
                                <p>{{'connect.label.' + type | translate}}</p>
                                <p class="status" ng-if="!isNotImplemented(type) && isConnected(type)">{{'connect.is.connected' | translate}}</p>
                                <p class="status" ng-if="!isNotImplemented(type) && !isConnected(type)">{{'connect.is.not.connected' | translate}}</p>
                                <p class="status" ng-if="isNotImplemented(type)">{{'connect.is.not.implemented' | translate}}</p>
                            </div>
                        </div>

                    </md-switch>

                    <md-divider ng-if="!$last"></md-divider>

                </md-list-item>

            </md-list>

        </md-card-content>
    </md-card>

</div>