md-toolbar{
  button.md-button{
    position: absolute;
    left: 5px;
    top: 15px;
    min-width: 50px;
    [icon]{
      fill: white;
    }
  }
}
md-sidenav {
  md-list-item{
    a.md-button{
      width: 100%;
      padding: 0px 30px 0px 30px;
      margin: 0px 0px 0px 0px;
      text-align: left;
      font-weight: bold;
      ng-md-icon{
        float: right;
        fill: pink;
      }
    }
  }
  .socialCarousel{
    position: fixed;
    bottom: 100px;
    right: 20px
  }
}
md-backdrop.md-sidenav-backdrop {
  position: relative;
}
md-whiteframe{
  button{
    width: 90%;
  }
}

md-input-container{
  ng-md-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    fill: pink;
  }
}