body{
  font-family: 'Roboto Condensed', sans-serif;
}

md-toolbar{
  h1{
    text-align: center;
  }
  button.md-button.btn-toggle-sidenav{
    position: absolute;
    left: 5px;
    top: 15px;
    min-width: 50px;
    [icon]{
      fill: pink;
    }
  }
  .login{
    color: pink;
    font-size: 14px;
  }
}
.md-button.md-fab{
  ng-md-icon{
    position: absolute;
    top: 10px;
    left: 13px;
  }
}
md-input-container{
  ng-md-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    fill: pink;
  }
}

@import "sidenav/style";
@import "../components/basket-content/style";
@import "../components/body-message-action/style";
@import "../components/friend-preview/style";

.state-friends-list,
.state-friends-face{
  @import "content/friends/style";
}
.state-friends-list{
  @import "content/friends/list/style";
  @import "content/friends/list/filter/style";
}
.state-friends-face{
  @import "content/friends/face/style";
}
.state-secret-box{
  @import "content/secretbox/style";
}
.state-secret-box-dialog{
  @import "content/secretbox/dialog/style";
}
.state-connect{
  @import "content/connect/style";
}
.state-settings{
  @import "content/settings/style";
}