md-toolbar [icon]{
  fill: white;
}
md-sidenav {
  md-list-item{
    a.md-button{
      width: 100%;
      padding: 0px 30px 0px 30px;
      margin: 0px 0px 0px 0px;
      text-align: left;
      font-weight: bold;
      ng-md-icon{
        float: right;
        fill: pink;
      }
    }
  }
}
md-whiteframe{
  button{
    width: 90%;
  }
}