<form md-content layout-padding class="autoScroll" name="settingsForm" ng-submit="submit()">

    <md-input-container>
        <label>{{'settings.login.placeholder' | translate}}</label>
        <input ng-model="meCopy.login" name="login" type="text" required ng-minlength="5" ng-maxlength="15"/>
        <ng-md-icon icon="account_circle" size="50"></ng-md-icon>
        <div ng-messages="settingsForm.login.$error">
            <div ng-message="required">{{'settings.login.error.required' | translate}}</div>
            <div ng-message="maxlength">{{'settings.login.error.maxlength' | translate}}</div>
            <div ng-message="minlength">{{'settings.login.error.minlength' | translate}}</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>{{'settings.password.placeholder' | translate}}</label>
        <input ng-model="meCopy.password" name="password" type="password" required ng-minlength="5" ng-maxlength="15"/>
        <ng-md-icon icon="vpn_key" size="50"></ng-md-icon>
        <div ng-messages="settingsForm.password.$error">
            <div ng-message="required">{{'settings.password.error.required' | translate}}</div>
            <div ng-message="maxlength">{{'settings.password.error.maxlength' | translate}}</div>
            <div ng-message="minlength">{{'settings.password.error.minlength' | translate}}</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>{{'settings.email.placeholder' | translate}}</label>
        <input ng-model="meCopy.email" name="email" type="email" required/>
        <ng-md-icon icon="mail" size="50"></ng-md-icon>
        <div ng-messages="settingsForm.email.$error">
            <div ng-message="required">{{'settings.email.error.required' | translate}}</div>
            <div ng-message="email">{{'settings.email.error.email' | translate}}</div>
        </div>
    </md-input-container>

    <div layout="row" layout-align="end start">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="!settingsForm.$valid">{{'settings.form.submit.label' | translate}}</md-button>
    </div>

</form>

<md-divider ></md-divider>

<md-button type="button" class="md-raised md-warn" ng-click="disconnect()">{{'settings.disconnect.btn.label' | translate}}</md-button>