<div layout="row">
    <md-card flex offset-gt-md="25" flex-gt-md="50">

        <md-content>

            <div layout="row">
                <md-button class="md-icon-button" aria-label="{{'dialog.show.back.btn' | translate}}" ui-sref="secret-box">
                    <ng-md-icon icon="arrow_back" ng-style="{fill: 'pink'}" size="30"></ng-md-icon>
                </md-button>
                <h3 flex>{{ friend.name }}</h3>
            </div>

            <md-divider></md-divider>

            <md-list>
                <md-list-item class="md-3-line" ng-repeat="message in dialogs | orderBy:'when'" layout="row">
                    <div ng-if="message.me" flex>
                        <p class="date">{{message.when | date}}</p>
                        <p class="no-wrap">{{message.what}}</p>
                    </div>
                    <div ng-if="!message.me">
                        <friend-preview friend="friend" flex>
                            <p class="date">{{message.when | date}}</p>
                            <p class="no-wrap">{{message.what}}</p>
                        </friend-preview>
                    </div>
                </md-list-item>

            </md-list>

            <md-divider></md-divider>

            <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
                <md-input-container flex>
                    <label>{{'dialog.show.send.message.label' | translate}}</label>
                    <textarea ng-model="newMessage.what" columns="1" md-maxlength="150" required></textarea>
                </md-input-container>

                <md-button class="md-fab md-primary submit-btn" aria-label="{{'dialog.show.send.message.submit.label' | translate}}" ng-disabled="!sendMessageForm.$valid">
                    <ng-md-icon icon="send" ng-style="{fill: 'pink'}" size="30"></ng-md-icon>
                </md-button>
            </form>

        </md-content>
    </md-card>
</div>