body {
  font-family: 'Roboto Condensed', sans-serif; }

md-toolbar button.md-button {
  position: absolute;
  left: 5px;
  top: 15px;
  min-width: 50px; }
  md-toolbar button.md-button [icon] {
    fill: white; }

md-toolbar .login {
  color: pink;
  font-size: 14px; }

.md-button.md-fab ng-md-icon {
  position: absolute;
  top: 10px;
  left: 13px; }

md-input-container ng-md-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  fill: pink; }

md-sidenav md-list-item a.md-button {
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-weight: bold; }
  md-sidenav md-list-item a.md-button ng-md-icon {
    float: right;
    fill: pink; }

md-sidenav .socialCarousel {
  position: fixed;
  bottom: 20px;
  right: 20px; }

md-backdrop.md-sidenav-backdrop {
  display: none; }

friend-preview .avatar {
  width: 50px;
  height: 50px;
  margin: 8px 16px 8px 16px;
  border-radius: 50%;
  box-sizing: content-box; }

friend-preview ng-md-icon.friend-preview-social-icon {
  position: absolute; }

friend-preview ng-transclude * {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  friend-preview ng-transclude *.no-wrap {
    white-space: normal;
    margin-bottom: 10px; }

.state-friends-list .btn-toggle-list-face,
.state-friends-face .btn-toggle-list-face {
  position: fixed;
  top: 40px;
  left: calc(50% - 40px); }

.state-friends-list md-card-content {
  padding: 0px 0px 0px 10px; }
  .state-friends-list md-card-content md-virtual-repeat-container .repeated-item {
    box-sizing: border-box;
    height: 55px; }
    .state-friends-list md-card-content md-virtual-repeat-container .repeated-item md-menu {
      height: 30px;
      width: 35px; }

.state-friends-list friends-filter {
  right: 20px;
  position: fixed;
  bottom: 20px; }
  .state-friends-list friends-filter md-fab-speed-dial button.md-mini ng-md-icon {
    position: absolute;
    top: 6px;
    left: 10px; }
  .state-friends-list friends-filter .btn-length {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: pink;
    font-weight: bold; }

.state-friends-face md-card-content h1 {
  margin-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center; }

.state-friends-face md-card-content img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.state-friends-face md-card-content .md-button.md-fab.md-mini ng-md-icon {
  top: 6px;
  left: 6px; }

.state-friends-face md-card-content .md-button.md-fab ng-md-icon {
  top: 8px;
  left: 8px; }

.state-dialog .dialog-unread * {
  font-weight: bold; }

.state-dialog .dialog-read * {
  font-weight: normal; }

.state-dialog-show p.date {
  color: grey; }

.state-dialog-show .submit-btn {
  position: absolute;
  bottom: 30px;
  right: 0px; }

.state-connect p,
.state-connect ng-md-icon {
  margin-left: 10px;
  margin-right: 10px; }
