body {
  font-family: 'Roboto Condensed', sans-serif; }

md-toolbar button.md-button {
  position: absolute;
  left: 5px;
  top: 15px;
  min-width: 50px; }
  md-toolbar button.md-button [icon] {
    fill: white; }

md-toolbar .login {
  color: pink;
  font-size: 14px; }

md-sidenav md-list-item a.md-button {
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-weight: bold; }
  md-sidenav md-list-item a.md-button ng-md-icon {
    float: right;
    fill: pink; }

md-sidenav .socialCarousel {
  position: fixed;
  bottom: 20px;
  right: 20px; }

md-backdrop.md-sidenav-backdrop {
  display: none; }

.state-friends .filter-btn {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .state-friends .filter-btn p {
    color: pink;
    position: absolute;
    top: -30px;
    right: 10px; }
  .state-friends .filter-btn ng-md-icon {
    position: absolute;
    top: 10px;
    left: 13px; }

.state-friends .friend-list md-list-item > button {
  padding-left: 0px; }
  .state-friends .friend-list md-list-item > button p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .state-friends .friend-list md-list-item > button ng-md-icon.user-social {
    position: absolute;
    left: 32px; }

.state-connect md-whiteframe {
  padding-top: 10px;
  width: 90%; }
  .state-connect md-whiteframe button {
    width: 90%; }

.state-settings md-input-container ng-md-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  fill: pink; }
