body {
  font-family: 'Roboto Condensed', sans-serif; }

md-toolbar.demo-block {
  height: 30px;
  min-height: 30px; }
  md-toolbar.demo-block .md-toolbar-tools {
    height: 30px;
    min-height: 30px;
    color: white; }
    md-toolbar.demo-block .md-toolbar-tools button {
      padding-top: 8px; }

md-toolbar h1 {
  text-align: center; }

md-toolbar button.md-button.btn-toggle-sidenav {
  position: absolute;
  left: 5px;
  top: 15px;
  min-width: 50px; }
  md-toolbar button.md-button.btn-toggle-sidenav [icon] {
    fill: pink; }

md-toolbar .login {
  color: pink;
  font-size: 14px; }

.md-button.md-fab ng-md-icon {
  position: absolute;
  top: 10px;
  left: 13px; }

md-input-container ng-md-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  fill: pink; }

md-sidenav md-list-item a.md-button {
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-weight: bold; }
  md-sidenav md-list-item a.md-button .nb-secret-box-news {
    position: absolute;
    top: 4px;
    right: 65px;
    border: 3px solid pink;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 1.5;
    text-align: center; }
  md-sidenav md-list-item a.md-button ng-md-icon {
    float: right;
    fill: pink; }
    md-sidenav md-list-item a.md-button ng-md-icon.icon-love {
      position: absolute;
      top: 2px;
      right: 33px;
      fill: white; }

md-sidenav .socialCarousel {
  position: fixed;
  bottom: 20px;
  right: 20px; }

md-backdrop.md-sidenav-backdrop {
  display: none; }

basket-content .label-love-length {
  font-size: 12px;
  color: pink;
  position: absolute;
  top: -5px;
  right: 58px;
  border-radius: 50%;
  padding: 2px; }

basket-content .md-icon-button.btn-shopping {
  height: 30px;
  width: 30px; }

basket-content .icon-plus-minus-one {
  position: absolute;
  top: 35px;
  right: 55px; }

basket-content .icon-love {
  position: absolute;
  right: 64px;
  top: 17px; }

body-message-action h1, body-message-action p {
  text-align: center; }

friend-preview .avatar {
  width: 50px;
  height: 50px;
  margin: 8px 16px 8px 16px;
  border-radius: 50%;
  box-sizing: content-box; }

friend-preview ng-md-icon.friend-preview-social-icon {
  position: absolute; }

friend-preview ng-transclude * {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  friend-preview ng-transclude *.no-wrap {
    white-space: normal;
    margin-bottom: 10px; }

.state-auth h1 {
  margin-top: -80px; }

.state-friends-list .btn-toggle-list-face,
.state-friends-face .btn-toggle-list-face {
  position: fixed;
  top: 40px;
  left: calc(50% - 40px); }

.state-friends-list md-card-content {
  padding: 0px 0px 0px 10px; }
  .state-friends-list md-card-content md-virtual-repeat-container .repeated-item {
    box-sizing: border-box;
    height: 55px; }
    .state-friends-list md-card-content md-virtual-repeat-container .repeated-item friend-preview button {
      margin: 0px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
      width: 10px; }

.state-friends-list friends-filter {
  right: 20px;
  position: fixed;
  bottom: 20px; }
  .state-friends-list friends-filter md-fab-speed-dial button.md-mini ng-md-icon {
    position: absolute;
    top: 6px;
    left: 10px; }
  .state-friends-list friends-filter .btn-length {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: pink;
    font-weight: bold; }

.state-friends-face md-card-content h1 {
  margin: 30px 0px 30px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center; }

.state-friends-face md-card-content img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0px; }

.state-friends-face md-card-content .md-button.next {
  height: 100px;
  width: 70px; }
  .state-friends-face md-card-content .md-button.next ng-md-icon {
    position: absolute;
    top: -40px;
    left: -50px; }

.state-friends-face md-card-content .btn-toolbar-choice {
  margin-top: 40px; }
  .state-friends-face md-card-content .btn-toolbar-choice .md-button.md-fab.md-mini ng-md-icon {
    top: 0px;
    left: 0px; }
  .state-friends-face md-card-content .btn-toolbar-choice .md-button.md-fab ng-md-icon {
    top: 8px;
    left: 8px; }

.state-friends-face md-card-content .btn-length {
  line-height: 40px;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: pink;
  font-weight: bold; }

.state-secret-box .unread p {
  font-weight: bold; }

.state-secret-box time {
  color: grey;
  font-size: 10px; }

.state-secret-box-dialog .md-icon-button {
  margin-top: 10px; }

.state-secret-box-dialog h3 {
  text-align: right;
  padding-right: 30px; }

.state-secret-box-dialog md-list-item {
  margin-bottom: 20px; }
  .state-secret-box-dialog md-list-item p {
    margin: 0px; }
    .state-secret-box-dialog md-list-item p.date {
      color: grey; }

.state-secret-box-dialog .submit-btn {
  position: absolute;
  bottom: 30px;
  right: 0px; }

.state-connect p,
.state-connect ng-md-icon {
  margin-left: 10px;
  margin-right: 10px; }

.state-connect p {
  margin: 0px;
  padding: 0px; }
  .state-connect p.status {
    color: pink;
    font-size: 12px; }

.state-shop p {
  font-weight: bold;
  text-align: center;
  color: #E91E63; }
  .state-shop p.nb {
    position: absolute;
    margin-top: 20px;
    margin-left: -39px;
    width: 30px; }
